<div class="container-fluid container-div">
    <div class="row row-custom">
        <div id="banner1" class="col-2 no-padding banner-left">
            
        </div>
        <div class="col-8 no-padding">
            <div class="row">
                <div class="sint-truiden-logo-div">
                    <img class="sint-truiden-logo" src="../../assets/images/sint-truiden-logo.png"/>
                </div>                
            </div>
            <div class="row sint-truiden-text-div center-items">
                <p class="font-italic">Wegens de pandemie zijn er ook enkele activiteiten online doorgegaan. Deze kon ik dus volgen vanuit mijn thuisstad Sint-Truiden. Wanneer een activiteit een ster heeft, betekend dit dat het een geselecteerde activiteit is.</p>
            </div>
            <div class="row center-items end-of-page-div">
                <img class="end-of-page-image" src="../../assets/images/end_of_page.png"/>
            </div>
            <div class="row w-100">
                <div class="container">
                    <div class="row center-cards">
                        <div class="col-sm card text-white h4"  id="card0">
                            
                        </div>
                        <div class="col-sm card text-white h4" id="card1">
                            
                        </div>
                    </div>
                    <div class="row center-cards">
                        <div class="col-sm card text-white h4" id="card2">
                            
                        </div>
                        <div class="col-sm card text-white h4" id="card3">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner2" class="col-2 no-padding banner-right">
        </div>

    </div>
</div>