.card{
    margin: 5px;
    opacity: 0.8;
    height: 80px;
    text-shadow: 1px 0 0 grey, 0 -1px 0 grey, 0 1px 0 grey, -1px 0 0 grey;
}

.end-of-page-div{
    margin-bottom: 5%;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.style{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.end-of-page-image{
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    width: 320px;
    margin: auto;
}

.brussels-logo-div{
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 30px;
}

.brussels-logo{
    width:100%;
}

.banner-left{
    background-size: cover;   
}

.banner-right{
    background-size: cover;   
}

.row-custom{
    position: absolute;
    height: 100%;
    width: 100%;
}

.row-custom-two{
    margin-bottom: 0 !important;
}

.no-padding{
    padding-right:0;
    padding-left:0;
}

.center-items{
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%
}

.center-cards{
    margin-left: 2%;
}

@media all and (max-width: 800px) {
    .end-of-page-div { display: none; }
    .brussels-text-div{ margin-bottom: 15%;}
  }

  