<div class="container-fluid container-div">
    <div class="row row-custom">
        <div class="col-2 no-padding banner-left">
            
        </div>
        <div class="col-8 no-padding">
            <div class="row">
                <div class="brussels-logo-div">
                    <img class="brussels-logo" src="../../assets/images/brussel2.png"/>
                </div>                
            </div>
            <div class="row brussels-text-div center-items">
                <p class="font-italic">Er zijn vele variaties van passages van Lorem Ipsum beschikbaar maar het merendeel heeft te lijden gehad van wijzigingen in een of andere vorm, door ingevoegde humor of willekeurig gekozen woorden die nog niet half geloofwaardig ogen. Als u een passage uit Lorum Ipsum gaat gebruiken dient u zich ervan te verzekeren dat er niets beschamends midden in de tekst verborgen zit. Alle Lorum Ipsum generators op Internet hebben de eigenschap voorgedefinieerde stukken te herhalen waar nodig zodat dit de eerste echte generator is op internet. Het gebruikt een woordenlijst van 200 latijnse woorden gecom</p>
            </div>
            <div class="row center-items end-of-page-div">
                <img class="end-of-page-image" src="../../assets/images/end_of_page.png"/>
            </div>
            <div class="row w-100">
                <div class="container">
                    <div class="row center-cards">
                        <div class="col-sm card text-white h4"  id="card0">
                            
                        </div>
                        <div class="col-sm card text-white h4" id="card1">
                            
                        </div>
                    </div>
                    <div class="row center-cards">
                        <div class="col-sm card text-white h4" id="card2">
                            
                        </div>
                        <div class="col-sm card text-white h4" id="card3">
                            
                        </div>
                    </div>
                    <div class="row center-cards">
                        <div class="col-sm card text-white h4" id="card4">
                            
                        </div>
                        <div class="col-sm card text-white h4" id="card5">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 no-padding banner-right">
        </div>

    </div>
</div>