<!--<div class="container">
    <div class="row custom-row bg-success">
        <div class="col custom-col">
            <img class="logo" src="../../assets/images/xfactor_3.PNG"/>
        </div>
    </div>
</div>-->

<div class="container">
    <div class="row">
        <img class="centered logo" src="../../assets/images/xfactor_3.PNG"/>
        <div id="outer-circle" class="centered outer-div">
            <img class="arrow" src="../../assets/images/arrow.PNG"/>
        </div >
    </div>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8 under">
            <span id="text"></span>
        </div>
        <div class="col-2">
            
        </div>
    </div>

</div>


