<div class="container container-div">
    <div class="row">
        <img class="centered logo" src="../../assets/images/xfactor_3.PNG"/>
        <div id="outer-circle" class="centered outer-div">
            <img class="arrow" src="../../assets/images/arrow.PNG"/>
        </div >
    </div>

    <div class="row title-div">
        <p class="title-p" id="chosenItem"></p>
    </div>

    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8 under">
            <p class="text-left" id="text"></p>
        </div>
        <div class="col-2">
            
        </div>
    </div>

</div>

<div class="warning-text-div center-div">
    <h5 class="center-text style">Het X-factor scherm functioneert het best <br> op een scherm dat minstens 650 pixels breed is.</h5>
</div>


