.logo{
    max-height: 380px;
}

.centered {
    position: absolute;
    margin-top: 360px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .arrow{
      height: 50px;
  }

  .under{
    position: absolute;
    margin-top: 85px;
    text-align: center;
    left: 17.5%;
  }

  .outer-div{
      width: 700px;
  }

  .title-div{
      margin-top: 570px;
      text-align: center;
  }

  .title-p{
      font-size: 26px;
      text-align: center;
      width: 100%;
  }