.logo{
    max-height: 365px;
}

.centered {
    position: absolute;
    margin-top: 360px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .arrow{
      height: 50px;
  }

  .under{
    position: absolute;
    margin-top: 85px;
    text-align: center;
    left: 17.5%;
  }

  .outer-div{
      width: 655px;
  }

  .title-div{
      margin-top: 540px;
      text-align: center;
  }

  .title-p{
      font-size: 26px;
      text-align: center;
      width: 100%;
  }

  .warning-text-div{
    display: none;
}

.center-text{
    text-align: center;
}

.text-left{
    text-align: left;
}

.center-div{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.style{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



  @media (max-width: 650px){
    .container-div {
        display: none;
    }

    .warning-text-div {
        display: inline;
    }

    
}



  
  