<div class="container">
    <div class="row custom-margin">
        <div class="col-12">
            <h2 class="custom-title">{{title}}</h2>
        </div>
      </div>
      <div class="row custom-margin">
        <div class="col-12 custom-text">
            <span [innerHTML]="text"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 custom-title custom-margin">
            <h3>{{photos}}</h3>
            <div im-container>
              <img class="image" id="image0">
            </div>
            <div im-container>
              <img class="image" id="image1">
            </div>
            <div im-container>
              <img class="image" id="image2">
            </div>
        </div>
      </div>
</div>