<div class="col">
    <div class="row center space">
        <div class="col-2">

        </div>
        <div class="col-8 intro-div">
            <p class="title">Voorstelling</p>
            <p id="intro" class="intro-text"></p>
            <a class="link" href="https://be.linkedin.com/in/mikail-mercan-8839a51a1"> Ik ben bereikbaar via LinkedIn</a>
        </div>
        <div class="col-2">

        </div>
    </div>
    <div class="row center all-activity-div">
        <div class="col-12" id="card0">
            <p class="title" id="title0"></p>
            <p class="style" id="date0"></p>
            <p class="style" id="company0"></p>
            <p class="style" id="place0"></p>
            <p class="style" id="extra0"></p>
            <p class="activity-text style" id="description0"></p>
            
        </div>

        <div class="col-12" id="card1">
            <p class="title" id="title1"></p>
            <p class="style" id="date1"></p>
            <p class="style" id="company1"></p>
            <p class="style" id="place1"></p>
            <p class="style" id="extra1"></p>
            <p class="activity-text style" id="description1"></p>
        </div>

        <div class="col-12" id="card2">
            <p class="title" id="title2"></p>
            <p class="style" id="date2"></p>
            <p class="style" id="company2"></p>
            <p class="style" id="place2"></p>
            <p class="style" id="extra2"></p>
            <p class="activity-text style" id="description2"></p>
        </div>

        <div class="col-12" id="card3">
            <p class="title" id="title3"></p>
            <p class="style" id="date3"></p>
            <p class="style" id="company3"></p>
            <p class="style" id="place3"></p>
            <p class="style" id="extra3"></p>
            <p class="activity-text style" id="description3"></p>
        </div>

        <div class="col-12" id="card4">
            <p class="title" id="title4"></p>
            <p class="style" id="date4"></p>
            <p class="style" id="company4"></p>
            <p class="style" id="place4"></p>
            <p class="style" id="extra4"></p>
            <p class="activity-text style" id="description4"></p>
        </div>

        <div class="col-12" id="card5">
            <p class="title" id="title5"></p>
            <p class="style" id="date5"></p>
            <p class="style" id="company5"></p>
            <p class="style" id="place5"></p>
            <p class="style" id="extra5"></p>
            <p class="activity-text style" id="description5"></p>
        </div>

        <div class="col-12" id="card6">
            <p class="title" id="title6"></p>
            <p class="style" id="date6"></p>
            <p class="style" id="company6"></p>
            <p class="style" id="place6"></p>
            <p class="style" id="extra6"></p>
            <p class="activity-text style" id="description6"></p>
        </div>

        <div class="col-12" id="card7">
            <p class="title" id="title7"></p>
            <p class="style" id="date7"></p>
            <p class="style" id="company7"></p>
            <p class="style" id="place7"></p>
            <p class="style" id="extra7"></p>
            <p class="activity-text style" id="description7"></p>
        </div>

        <div class="col-12" id="card8">
            <p class="title" id="title8"></p>
            <p class="style" id="date8"></p>
            <p class="style" id="company8"></p>
            <p class="style" id="place8"></p>
            <p class="style" id="extra8"></p>
            <p class="activity-text style" id="description8"></p>
        </div>

        <div class="col-12" id="card9">
            <p class="title" id="title9"></p>
            <p class="style" id="date9"></p>
            <p class="style" id="company9"></p>
            <p class="style" id="place9"></p>
            <p class="style" id="extra9"></p>
            <p class="activity-text style" id="description9"></p>
        </div>

        <div class="col-12" id="card10">
            <p class="title" id="title10"></p>
            <p class="style" id="date10"></p>
            <p class="style" id="company10"></p>
            <p class="style" id="place10"></p>
            <p class="style" id="extra10"></p>
            <p class="activity-text style" id="description10"></p>
        </div>

        <div class="col-12" id="card11">
            <p class="title" id="title11"></p>
            <p class="style" id="date11"></p>
            <p class="style" id="company11"></p>
            <p class="style" id="place11"></p>
            <p class="style" id="extra11"></p>
            <p class="activity-text style" id="description11"></p>
        </div>
    </div>
</div>
