<!--
<div class="col">
    <div class="row center space">
        <div class="col-8 intro-div">
            <p class="title intro">Voorstelling</p>
            <p class="intro-text">tekstsddddddddddddddddddddddddddddddddddddddddddddddddddddvoorstelling</p>
        </div>
        <div class="col-4">
            <img class="end-of-page-image img" src="../../assets/images/passfoto.jpg" width="300px" height="300px"/>
        </div>
    </div>
    <div class="row center all-activity-div">
        <div class="col-12 activity-div" id="card0">
            <p class="title" id="title0">Activity</p>
            <p class="activity-text" id="description0">tekstsddddddddddddddddddddddddddddddddddddddddddddddddddddvoorstelling</p>
        </div>

        <div class="col-12 activity-div" id="card1">
            <p class="title" id="title1">Activity</p>
            <p class="activity-text" id="description1">tekstsddddddddddddddddddddddddddddddddddddddddddddddddddddvoorstelling</p>
        </div>

        <div class="col-12 activity-div" id="card2">
            <p class="title" id="title2">Activity</p>
            <p class="activity-text" id="description2">tekstsddddddddddddddddddddddddddddddddddddddddddddddddddddvoorstelling</p>
        </div>

        <div class="col-12 activity-div" id="card3">
            <p class="title" id="title3">Activity</p>
            <p class="activity-text" id="description3">tekstsddddddddddddddddddddddddddddddddddddddddddddddddddddvoorstelling</p>
        </div>

    </div>
</div>
-->

<div class="col">
    <div class="row center space">
        <div class="col-2">

        </div>
        <div class="col-8 intro-div">
            <p class="title">Voorstelling</p>
            <p class="intro-text bg-success">tekstsdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddvoorstelling</p>
            <a class="link" href="https://be.linkedin.com/in/mikail-mercan-8839a51a1"> Ik ben bereikbaar via LinkedIn</a>
        </div>
        <div class="col-2">

        </div>
    </div>
    <div class="row center all-activity-div">
        <div class="col-12 activity-div" id="card0">
            <p class="title" id="title0"></p>
            <p class="style" id="date0"></p>
            <p class="style" id="company0"></p>
            <p class="style" id="place0"></p>
            <p class="style" id="extra0"></p>
            <p class="activity-text style" id="description0"></p>
            
        </div>

        <div class="col-12" id="card1">
            <p class="title" id="title1"></p>
            <p class="style" id="date1"></p>
            <p class="style" id="company1"></p>
            <p class="style" id="place1"></p>
            <p class="style" id="extra1"></p>
            <p class="activity-text style" id="description1"></p>
        </div>

        <div class="col-12" id="card2">
            <p class="title" id="title2"></p>
            <p class="style" id="date2"></p>
            <p class="style" id="company2"></p>
            <p class="style" id="place2"></p>
            <p class="style" id="extra2"></p>
            <p class="activity-text style" id="description2"></p>
        </div>

        <div class="col-12" id="card3">
            <p class="title" id="title3"></p>
            <p class="style" id="date3"></p>
            <p class="style" id="company3"></p>
            <p class="style" id="place3"></p>
            <p class="style" id="extra3"></p>
            <p class="activity-text style" id="description3"></p>
        </div>

    </div>
</div>
