<div class="col">
    <div class="row center space">
        <div class="col-8 intro-div">
            <p class="title intro">Voorstelling</p>
            <p class="intro-text">tekstsddddddddddddddddddddddddddddddddddddddddddddddddddddvoorstelling</p>
        </div>
        <div class="col-4">
            <img class="end-of-page-image img" src="../../assets/images/passfoto.jpg" width="300px" height="300px"/>
        </div>
    </div>
    <div class="row center">
        <div class="col-12 activity-div">
            <p class="title" id="title0">Activity</p>
            <p class="activity-text" id="description0">tekstsddddddddddddddddddddddddddddddddddddddddddddddddddddvoorstelling</p>
        </div>

        <div class="col-12 activity-div">
            <p class="title" id="title1">Activity</p>
            <p class="activity-text" id="description1">tekstsddddddddddddddddddddddddddddddddddddddddddddddddddddvoorstelling</p>
        </div>

        <div class="col-12 activity-div">
            <p class="title" id="title2">Activity</p>
            <p class="activity-text" id="description2">tekstsddddddddddddddddddddddddddddddddddddddddddddddddddddvoorstelling</p>
        </div>

        <div class="col-12 activity-div">
            <p class="title" id="title3">Activity</p>
            <p class="activity-text" id="description3">tekstsddddddddddddddddddddddddddddddddddddddddddddddddddddvoorstelling</p>
        </div>

    </div>
</div>
